.containerBody{
  width:95%;
  margin:auto;
}

.tableau{
  border:2px red solid;
  border-collapse: collapse;
  margin:auto;
}
.tableau > tbody> tr > td {
  border : 2px solid;
  width:100vw;
}

.titre{
  font-weight: bold;
  color:black
}

audio{
  margin:auto;
}
